/*
  Border CheatSheet Mixins
  - Version: 2.3
  - Author: Fryan
*/

$colorSettings: $mixinsDefaultColor;

@mixin border($size: 1px, $type: solid,$colour: default(color, $colorSettings)) {
  border: $size $type $colour;
}
@mixin border-top($size: 1px, $type: solid, $colour: default(color, $colorSettings)) {
  border-top: $size $type $colour;
}
@mixin border-bottom($size: 1px, $type: solid, $colour: default(color, $colorSettings)) {
  border-bottom: $size $type $colour;
}
@mixin border-left($size: 1px, $type: solid, $colour: default(color, $colorSettings)) {
  border-left: $size $type $colour;
}
@mixin border-right($size: 1px, $type: solid, $colour: default(color, $colorSettings)) {
  border-right: $size $type $colour;
}
@mixin border-v($size: 1px, $type: solid, $colour: default(color, $colorSettings)) {
  @include border-top($colour, $size, $type);
  @include border-bottom($colour, $size, $type);
}
@mixin border-h($size: 1px, $type: solid, $colour: default(color, $colorSettings)) {
  @include border-left($colour, $size, $type);
  @include border-right($colour, $size, $type);
}
@mixin border-vertical($size: 1px, $type: solid, $colour: default(color, $colorSettings)) {
  @include border-v($colour, $size, $type);
}
@mixin border-horizontal($size: 1px, $type: solid, $colour: default(color, $colorSettings)) {
  @include border-h($colour, $size, $type);
}
@mixin border-no() {
  border: medium none default(color, $colorSettings);
}

// Border radius
@mixin border-radius($radius: .3em) {
  border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  background-clip: padding-box;
}
@mixin border-radius-no() {
  border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-clip: padding-box;
}
@mixin border-radius-X() {
  @include border-radius-no();
}